﻿@model IEnumerable<G3.Models.Setting>

@{
	ViewData["Title"] = "RolesList";
	Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Role List</h1>

<form method="get" asp-controller="Admin" asp-action="RolesList">
	<div class="input-group col-lg-3 float-left">
		<input type="text" class="form-control rounded" placeholder="Search" name="search" />
		<input type="submit" value="Search" class="btn btn-outline-primary" />
	</div>
</form>

<br>
<table class="table table-bordered">
	<caption>student</caption>
	<thead>
		<tr>
			<th>
				Role Id
			</th>
			<th>
				Role name
			</th>
			<th>
				Role value
			</th>
			<th>
				Status
			</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		@if (Model != null)
		{
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.SettingId)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Value)
					</td>
					<td>
						@{
							if(item.IsActive == true)
							{
								<span class="text-success">Active</span>
							}
							else
							{
								<span class="text-danger">Deactive</span>
							}
						}
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.SettingId">Toggle active/deactive</a>
					</td>
				</tr>
			}
		}
		else
		{
			<tr>
				<td colspan="9" align="center">No data found</td>
			</tr>
		}
	</tbody>
</table>
<p>
	<a class="btn btn-outline-primary float-right" asp-action="RoleCreate">Create New</a>
</p>

