﻿@model G3.Models.User

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<section style="background-color: #eee;">

    <div class="container py-5">
        <div class="mb-4">
            <a asp-action="Index" type="button" class="btn btn-outline-primary">Back to list</a>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="@Html.DisplayFor(model => model.Avatar)" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">
                            @Html.DisplayFor(model => model.Name)
                            @if (Model.Confirmed)
                            {
                                <text>&#9989;</text>
                            }
                            else
                            {
                                <text>&#10060;</text>
                            }
                            @if (Model.Blocked)
                            {
                                <text>&#9940;</text>
                            }
                        </h5>
                        <p class="text-muted mb-1">@Html.DisplayFor(model => model.RoleSetting.Value)</p>
                        <p class="text-muted mb-4">@Html.DisplayFor(model => model.Address)</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a asp-action="Edit" asp-route-id="@Model.Id" type="button" class="btn btn-outline-primary">Edit Profile</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Html.DisplayFor(model => model.Name)</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Date of Birth</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@if (Model.DateOfBirth != null) Model.DateOfBirth.Value.ToShortDateString();</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Html.DisplayFor(model => model.Email)</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Gender</p>
                            </div>
                            <div class="col-sm-9">
                                @if (Model.Gender == null)
                                {
                                    <p class="text-muted mb-0">Nonbinary</p>
                                }
                                else
                                {
                                    if (Model.Gender == true)
                                    {
                                        <p class="text-muted mb-0">Male</p>
                                    }
                                    else if (Model.Gender == false)
                                    {
                                        <p class="text-muted mb-0">Female</p>
                                    }
                                }
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Html.DisplayFor(model => model.Phone)</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Html.DisplayFor(model => model.Address)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>