﻿@model IEnumerable<G3.Models.Setting>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>List Email Domain</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            @if(item.Type == "DOMAIN")
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        @if(@item.IsActive == true){
                            <b style="color:lawngreen">Active</b>
                        }
                        else{
                        <b style="color:red">Deactive</b>
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.SettingId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.SettingId">Details</a>
                        @*| <a asp-action="Delete" asp-route-id ="@item.SettingId">Delete</a>*@
                        
                    </td>
                </tr>
            }
            
}
    </tbody>
</table>
