﻿@model G3.Dtos.ChangePasswordDto

@{
    ViewData["Title"] = "Change password";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Change Password</p>
                                <form asp-action="ChangePassword" class="mx-1 mx-md-4">
                                    <div class="form-group mb-3">
                                        <label asp-for="OldPassword">Old Password</label>
                                        <input asp-for="OldPassword" type="password" class="form-control">
                                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label asp-for="NewPassword">New Password</label>
                                        <input asp-for="NewPassword" type="password" class="form-control">
                                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label asp-for="ConfirmPassword">Confirm Password</label>
                                        <input asp-for="ConfirmPassword" type="password" class="form-control">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Change Password</button>
                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                     class="img-fluid" alt="Sample image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@if (!string.IsNullOrEmpty(ViewBag.AlertMessage))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @ViewBag.AlertMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <script>// Close the alert after a few seconds (optional)
        setTimeout(function () {
            $(".alert").alert('close');
        }, 5000); // 5000 milliseconds = 5 seconds</script>
}

