﻿@model G3.Dtos.SignUpDto

@{
    ViewData["Title"] = "Sign in";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign in</p>
                                <form asp-action="SignIn" class="mx-1 mx-md-4">
                                    <div class="form-group mb-3">
                                        <label asp-for="Email">Email</label>
                                        <input asp-for="Email" type="email" class="form-control">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label asp-for="Password">Password</label>
                                        <input asp-for="Password" type="password" class="form-control">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>

                                    <div class="row mb-4">
                                        <div class="col d-flex justify-content-center">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                                                <label class="form-check-label" for="form2Example31"> Remember me </label>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <a href="/auth/forgot-password">Forgot password?</a>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary w-100 mb-3">Submit</button>

                                    <a href="/auth/sign-up">Do not have an account?</a>
                                </form>


                               <form asp-action="Google">

                                <button  asp-action="Google" type="summit" class="btn btn-primary w-100 mb-3">Google</button>
                               </form>


                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                     class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@if (!string.IsNullOrEmpty(ViewBag.AlertMessage))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @ViewBag.AlertMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <script>// Close the alert after a few seconds (optional)
        setTimeout(function () {
            $(".alert").alert('close');
        }, 5000); // 5000 milliseconds = 5 seconds</script>
}
