﻿@model IEnumerable<G3.Models.Subject>

@{
    ViewData["Title"] = "SubjectList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div class="container mt-5">
    
   
    <form asp-action="SubjectList" method="post" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">

            <input  type="text"  class="form-control small" placeholder="Search for Subject Code...."
                   aria-label="Search" aria-describedby="basic-addon2" name="search" value="@ViewData["search"]" style="margin-left:200px; width:500px; font-size: 15px; background-color:#f8f9fc;">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>


</div>

<div class="container mt-5 text-lg-right">
    <form asp-action="SubjectList" method="post" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100">
        <div class="form-group">
            <label for="SortBy">Sorted by Subject Code:</label>
            <select class="form-control" id="SortBy" name="SortBy">

                <option value="ASC">ascending</option>
                <option value="DESC">decreasing</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Sort</button>
    </form>
</div>
<p>
    <a asp-action="SubjectCreate">Create New</a>
</p>
<table class="table table-bordered">
    <caption>student</caption>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubjectCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mentor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Status)*@
                    @{
                        if ( item.Status == true)
                        {
                            <span class="text-success">Active</span>
                        }
                        else
                        {
                            <span class="text-danger">Deactive</span>
                        }
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mentor.Name)
            </td>
            <td>
                    <a asp-action="SubjectEdit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="SubjectDetails" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<nav aria-label="Page navigation">
    <ul class="pagination">
        @for (var i = 1; i <= ViewBag.TotalPages; i++)
        {
            var isActive = i == ViewBag.CurrentPage ? "active" : "";
            <li class="page-item @isActive"><a class="page-link" href="/Subjects/ListSubject?page=@i&pageSize=@ViewBag.PageSize">@i</a></li>
        }
    </ul>
</nav>