﻿@model G3.Models.Subject

@{
    ViewData["Title"] = "SubjectDetails";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Details of subject</h1>

<div>
    <h4>Subject</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubjectCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @{
                if ( Model.Status  == true)
                {
                    <span class="text-success">Active</span>
                }
                else
                {
                    <span class="text-danger">Deactive</span>
                }
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mentor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mentor.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="SubjectEdit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="SubjectList">Back to List</a>
</div>
