﻿@model G3.Models.Subject

@{
    ViewData["Title"] = "SubjectEdit";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>Subject</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SubjectEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SubjectCode" class="control-label"></label>
                <input asp-for="SubjectCode" class="form-control" />
                <span asp-validation-for="SubjectCode" class="text-danger"></span>
                <h5 style="color:red; font-size:17px;">@ViewData["exist"]</h5>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <div class="form-check">
                    <input asp-for="Status" type="radio" value="true">
                    <label class="form-check-label">Active</label>
                    @*</div>
                    <div class="form-check">*@
                    <input asp-for="Status" style="margin-left:50px;" type="radio" value="false">
                    <label class="form-check-label">Deactive</label>
                </div>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MentorId" class="control-label">Mentor</label>
                <select asp-for="MentorId" class="form-control" asp-items="ViewBag.MentorId"></select>
                <span asp-validation-for="MentorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="SubjectList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
